<form class=""
      autocomplete="off"
      [formGroup]="myForm"
      (ngSubmit)="login()">

    <span class="">
        Login
    </span>

    <div class="">
        <span class="">Correo</span>
        <input class=""
               type="email"
               formControlName="email"
               placeholder="Correo electrónico">
        <span class=""></span>
    </div>

    <div class="">
        <span class="">Contraseña</span>
        <input class=""
               type="password"
               formControlName="password"
               placeholder="Ingrese su contraseña">
        <span class=""></span>
    </div>

    <div class=""></div>

    <div class="">
        <div class="">
            <div class=""></div>
            <button class=""
                    [disabled]="myForm.invalid"
                    type="submit">
                Login
            </button>
        </div>
    </div>

    <div class="">
        <span class="">
            ¿No tienes cuenta?
        </span>

        <a routerLink="/auth/register" class="">
            Crear una aquí
        </a>
    </div>
</form>